
<div *ngIf="gameState.settingUpNewGame === true" class="choosePlayerNo">
  <h3> Välj antal spelare </h3>
  <form>
    <div class="form-group">
      <input
        type="number"
        min="2"
        max="10"
        #amountOfPlayers
        class="form-control"
        required
      >
    </div>
  </form>
  <button  class="btn btn-lg btn-success" (click)="createPlayers(amountOfPlayers.value)"> Fortsätt </button>
</div>
<div *ngIf="gameState.creatingPlayers == true;">
  <create-players [players]="players"></create-players>
</div>
