<!--<button (click)="hej()">Get players</button>-->
<button class="btn btn-primary btn-lg" (click)="saveGameState()"> Spara spelet </button>
<div class="scoreBoard">
  <table class="table borderless">
    <tr>
      <th scope="col">Namn</th>
      <th scope="col">Poäng</th>
      <th scope="col">Ny poäng</th>
      <th scope="col">Vinst</th>
    </tr>
    <tr *ngFor="let player of players">
      <td> <p>{{ player.name }}</p></td>
      <td> <p>{{ player.score }}</p></td>
      <td>
        <input
          class="form-control newScore"
          type="number"
          min="300"
          #newScore
          [autofocus]="true"
          id="scorefield{{player.id}}"
          (keydown.enter)="newScores(player, newScore.value); newScore.value = ''; getNextPlayer()"
        >
      </td>
      <td> <p>{{ player.totalWin }} :-</p></td>
    </tr>
  </table>
  <h1 class="playerIndicator" *ngIf="!gameState.gameOver">{{currentPlayer.name}}s tur att spela!</h1>
  <div *ngIf="gameState.gameOver">
    <button
      class="btn btn-lg btn-success"
      (click)="nextRound()"
    >Nästa runda!</button>
  </div>
</div>

