<div class="flexContainer createPlayers">
  <div *ngFor="let player of players">
    <div class="form-group">
      <label for="player{{player.id}}"> Ange namn för spelare {{player.id}}:</label>
      <input
        class="form-control"
        type="text"
        name="playername"
        id="player{{player.id}}"
        #inputField
        [(ngModel)]="player.name"
        (change)="player.name == inputField.value "
      >
    </div>
  </div>

  <button class="btn btn-lg btn-success" (click)="updatePlayers()">Starta spelet!</button>
</div>
